<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAsrY_5Oa4hSxhR03bvlCTlT7goFkpGEJQ</string>
	<key>GCM_SENDER_ID</key>
	<string>816617722816</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cove.UserAuthFirebase</string>
	<key>PROJECT_ID</key>
	<string>swiftuiauthtutorial-29918</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuiauthtutorial-29918.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:816617722816:ios:f61a37318741074cac2e25</string>
</dict>
</plist>